<%= render "form" %>


<!-- <form action="/task/2" method="patch">
  <label for="name">Name</label>
  <input type="text" name="task[name]" value="dodo">
  <label for="name">Done</label>
  <input type="text" name="task[done]" value="false">
  <input type="submit">
</form>
 -->
