<%= render "form" %>

<!-- <form action="/tasks" method="post">
  <label for="name">Name</label>
  <input type="text" name="task[name]">

  <label for="done">Done</label>
  <input type="text" name="task[done]">

  <input type="submit">
</form>
 -->
